.boxAbas{
    background-color: rgba(0, 0, 0, 0.04);
    margin: 2%;
    border-radius: 3px;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intensAbasBox{
    font-size: 12px;
    color: gray;
}
.inputBoxAbas{
    padding: 4px 7px;
    max-width: 50%;
}
.valorBoxAbas{
    background-color:rgba(7, 7, 7, 0.08);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputContainerBoxAbas{
    background-color: rgba(0, 0, 0, 0.04);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 2%;
    border-radius: 3px;
    padding: 1% 2%;
    display: flex;
}